spring:
  application:
    name: product-service
  data:
    mongodb:
      host: localhost
      port: 27017
      database: product-db
  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: guest
    password: guest

  cloud:
    function:
      definition: messageProcessor
    stream:
      defaultBinder: rabbit
      default:
        contentType: application/json
      bindings:
        messageProcessor-in-0:
          destination: products
          group: productsGroup
          consumer:
            maxAttempts: 3
            backOffInitialInterval: 500
            backOffMaxInterval: 1000
            backOffMultiplier: 2.0
      rabbit:
        bindings:
          messageProcessor-in-0:
            consumer:
              autoBindDlq: true
              republishToDlq: true
      kafka:
        bindings:
          messageProcessor-in-0:
            consumer:
              enableDlq: true
        binder:
          brokers: 127.0.0.1
          defaultBrokerPort: 9092

server:
  port: 7001

logging:
  level:
    root: INFO
    edu:
      learning:
        microservices: DEBUG
    org:
      springframework:
        data:
          mongodb:
            core:
              ReactiveMongoTemplate: DEBUG
        web: DEBUG
        web.servlet.DispatcherServlet: DEBUG
        web.filter.CommonsRequestLoggingFilter: DEBUG
springdoc:
  swagger-ui:
    path: /openapi/swagger-ui.html
  api-docs:
    path: /openapi/v3/api-docs
  packagesToScan: edu.learning.microservices.core.product
  pathsToMatch: /**

management:
  endpoint:
    health:
      show-details: ALWAYS
  endpoints:
    web:
      exposure:
        include: "*"

api:
  common:
    version: 1.0.0
    title: Sample API
    description: Description of the API...
    termsOfService: MY TERMS OF SERVICE
    license: MY LICENSE
    licenseUrl: MY LICENSE URL

    externalDocDesc: MY WIKI PAGE
    externalDocUrl: MY WIKI URL
    contact:
      name: NAME OF CONTACT
      url: URL TO CONTACT
      email: contact@mail.com
  product:
    getProduct:
      description: Returns detailed information about a product
      notes: |
        # Normal response
        If the requested product id is found the method will return following information regarding the product:
        1. Product id
        2. Product name
        3. Product weight
        4. Location of the product
        # Expected partial and error responses
        In the following cases, only a partial response be created (used to simplify testing of error conditions)
        ## Product id 1
        200 - ok
        ## Product id 13
        404 - not found
    responseCodes:
      ok:
        description: OK
      badRequest:
        description: Bad Request, invalid format of the request. See response message for more information
      notFound:
        description: Not found, the specified id does not exist
      unprocessableEntity:
        description: Unprocessable entity, input parameters caused the processing to fail. See response message for more information